.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

    &__header-label {
        font-size: 26px;
        font-weight: 900;
        color: #333399;
    }

    &__number-range {
        font-size: 22px;
        font-style: italic;
        font-weight: 700;
    }

    &__players-section {
        display: flex;
        justify-content: space-between;
        margin: 25px 0;
        width: 80%;
    }
}