.custom-input {
    display: flex;
    align-items: center;
    margin: 5px 0;

    &__label {
        margin-right: 10px;
        white-space: nowrap;
    }

    &__input {
        height: 20px;
        padding: 3px;
    }
}
